/bin/
/Projeto_1_Parte_6/nbproject/private/
/Projeto_1_Parte_6/build/
/Aula11-10/nbproject/private/
/Aula11-10/build/
/Exercicio-poo1/nbproject/private/
/Exercicio-poo1/build/
/FilmeCompare/nbproject/private/
/FilmeCompare/build/
/TestTree/nbproject/private/
/TestTree/build/
/TestMAp/nbproject/private/
/TestMAp/build/
/ThreadTest/nbproject/private/
/ThreadTest/build/
/Threads/nbproject/private/
/TestThreads/nbproject/private/
/TestThreads/build/
/ThreadConcorrente/nbproject/private/
/ThreadConcorrente/build/
/ThreadParImpar/nbproject/private/
/ThreadParImpar/build/
/TrabalhoFinalPooII/build/
/TrabalhoFinalPooII/dist/
/TrabalhoFinalPooII/nbproject/private/